<template>
  <div class="task-input">
    <!--
      Mission One: Add a task input

      Create a task input according to the design in the README.md file.

      Definition of done:
      [ ] User can type into the input
      [ ] A button with the text "Add" is visible
      [ ] User can click the button to submit the input
       
      Your submission will be judged out of ten points based
      on the following criteria:
      
      Design fidelity - 5 points total
        - Is the spacing correct? (e.g. padding, margin) - 2 points
        - Is there good interaction feedback? (e.g. hover, focus, active states) - 3 points
      Code quality - 5 points
        - Are concerns clearly separeted? (e.g. clear responsibilities for functions, etc.) - 3 point
        - Is the code easy to read and understand? - 2 points
    -->
    <input v-model="inputContent" :placeholder="placeholderText" @focus="clearPlaceholder" @blur="resetPlaceholder">
    <button @click="addTodo">Add</button>	
  </div>
</template>

<script setup lang="ts">
/**
 * Component design is up to you. You'll define the props,
 * events, and methods for the component here.
 * 
 * Good luck!
 */
import { ref } from 'vue';

/* composables */
import { useSubmitTask } from '../composables/useSubmitTask';

/* props */
const props = defineProps<{
  updateTasks: Function;
}>();

// Define a ref for input values
const inputContent = ref('');

// Define a ref for the placeholder text
const placeholderText = ref('Enter your text...');

// Function to clear placeholder text when input field is focused
const clearPlaceholder = () => {
  placeholderText.value = '';
};

// Function to reset placeholder text when input field loses focus
const resetPlaceholder = () => {
  // Check if the input value is empty
  if (!inputContent.value) {
    // Reset placeholder text to its initial value
    placeholderText.value = 'Enter your text...';
  }
};

const addTodo = () => {
  // If input value isn't empty call submit function 
  if (inputContent.value) {
    // Assign both the input value and pass the getTasks ref
    useSubmitTask(inputContent.value, props.updateTasks);
  }
  // Clear the input field
  inputContent.value = '';
  // Reset placeholder field
  resetPlaceholder();
};
</script>

<style scoped lang="scss">
.task-input {
  display: flex;
  color: var(--color-heading);
  background-color: var(--color-input-background);
  padding: var(--space-2) var(--space-3);
  border: var(--color-border) var(--border-width-thin) solid;
  border-radius: var(--border-radius-1);

  input {
    &::placeholder {
      color: inherit;
      font: inherit;
      font-style: italic;
      opacity: 1;
    }
    width: 100%;
    color: inherit;
    background-color: transparent;
    border: 0;
    font-size: var(--fs-3);
    font-weight: 500;
    outline: none;
  }

  button {
    &:active {
      color: var(--color-accent-one);
    }
    background: white;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow-1);
    font-weight: bold;
    padding: var(--space-1) var(--space-3);
    cursor: pointer;
  }
}
</style>